.layout-container {
    max-width: var(--page-width);
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin: 5rem auto;
}

.left-side, .right-side {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
}

.left-side {
    min-height: 100svh;
    justify-content: space-between;
}

.right-side {
    justify-content: flex-end;
    gap: 3rem;
}

.header-info {
    display: flex;
    flex-direction: column;
    gap: .3rem;
    color: var(--heading-color);
}

.nav-menu {
    display: flex;
    flex-direction: column;
    gap: .8em;
    list-style-type: none;
    text-transform: uppercase;
}

.nav-indicator {
    width: 2rem;
    height: 0.005rem;
    background-color: var(--heading-color);
    opacity: 0.5;
}

.active .nav-indicator {
    width: 4rem;
    opacity: 1;
}

.nav-link {
    display: flex;
    align-items: center;
    gap: .6rem;
    cursor: pointer;
    color: var(--heading-color);
}

.nav-link-text {
    opacity: 0.5;
}

.active .nav-link-text {
    opacity: 1;
}

@media screen and (max-width: 1050px) {
  .layout-container {
    flex-direction: column;
      gap: 2rem;
  }
}