.layout-container {
    max-width: var(--page-width);
    display: flex;
    justify-content: space-between;
    margin: 5rem auto;
    gap: 5rem;
}

.left-side, .right-side {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
}

.left-side {
    min-height: 100svh;
    justify-content: space-between;
}

.right-side {
    justify-content: flex-end;
    gap: 3rem;
}

.header-info {
    display: flex;
    flex-direction: column;
    gap: .3rem;
    color: var(--heading-color);
}

@media screen and (max-width: 1050px) {
  .layout-container {
    flex-direction: column;
      gap: 2rem;
  }
}