* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /*Define variables*/
  --bg-color: #0c142e;
  --heading-color: rgba(226, 232, 240, .95);
  --text-color: rgb(156, 171, 189);
  --page-width: 1280px;
  --transition: 0.1s ease-out;
  font-family: Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;
  color-scheme: light dark;
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
}

a {
  font-weight: 500;
  text-decoration: none;
  font-size: .9rem;
  color: inherit;
}

body {
  margin: 0;
  color: var(--text-color);
}

h1 {
  line-height: 1.1;
  font-size: 3rem;
}

span, p {
  color: inherit;
}

.animate {
  transition: var(--transition);
}

.heading {
  color: var(--heading-color);
}

.text {
  color: var(--text-color);
}

.not-active {
  opacity: .3;
}

.observer {
  position: absolute;
}