* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /*Define variables*/
  --bg-color: #0c142e;
  --text-color: rgba(224, 228, 241, 1);
  --text-color-opacity: rgba(224, 228, 241, .85);
  --page-width: 1280px;
  font-family: Inter, system-ui, Roboto, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
}

a {
  font-weight: 500;
  text-decoration: none;
}

body {
  margin: 0;
  color: var(--text-color);
}

h1 {
  line-height: 1.1;
}

span, p {
  color: var(--text-color-opacity);
}
